---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import loginEnsaware from '../images/login-ensaware.jpg';
import logoAmericana from '../images/logo-americana.png';
---

<Layout title="Iniciar Sesión">
	<main class="h-screen flex flex-row">
		<aside class="hidden md:flex w-1/2">
			<Image
				class="object-cover w-full;"
				src={loginEnsaware} alt="Un móvil con un código QR sostenido por una persona en su mano."
			/>
		</aside>

		<section
			class="flex flex-col items-center justify-center p-4 w-full md:w-1/2"
		>
			<h1 class="text-5xl mb-10">Ensaware</h1>

			<div class="flex flex-row mb-10 text-3xl text-gray-300 items-center">
				<span class="material-symbols-outlined mr-1">
					login
				</span>
				<h2>Iniciar Sesión</h2>
			</div>

			<Image
				class="mb-10"
				height="250"
				src={logoAmericana} alt="Logo de la Corporación Universitaria Americana."
				width="250"
			/>

			<p class="mb-10">
				La aplicación Ensaware solo permite iniciar sesión con el correo electrónico institucional.
			</p>

			<button class="flex flex-row justify-center bg-purple-900 hover:bg-purple-950 p-4 rounded-lg cursor-pointer w-full md:w-1/2">
				Iniciar Sesión
				<span class="material-symbols-outlined ml-1">
					admin_panel_settings
				</span>
			</button>
		</section>
	</main>
</Layout>
