---
import { CustomAlert, CustomProfile } from "../../components";
import { getLangFromUrl, useTranslations, type Pages } from "../../i18n";
import Main from "../../layouts/Main.astro";

const { searchParams } = Astro.url;
const updateCareer = searchParams.get("updateCareer");

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
const { profile } = t("pages") as Pages;
---

<Main title={profile.title}>
	{
		updateCareer && updateCareer.toLocaleLowerCase() === "yes" && (
			<CustomAlert
				message={profile.message}
				title={profile.alertTitle}
				className="bg-red-100"
			/>
		)
	}
	<CustomProfile client:only />
</Main>
